:root{
  --cor-background-amarelo: #faf8c5;
  --cor-background-branco: #fff;
  --cor-background-preto: #000;
  --cor-background-cinza: #3c3c3c;
  --cor-texto-preto: #000;
  --cor-texto-branco: #fff;
  --cor-texto-amarela: #FDED00;
  
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  width: 100%;

  background: var(--cor-background-cinza);
}

main{
  padding: 1em;
}

.atencao{
  border-radius: 20px;
  background: var(--cor-background-preto);
  border-bottom: 0.5em solid var(--cor-background-cinza);
  color: var(--cor-texto-amarela);
  font-weight: 700;
}

.corpo-pagina__texto{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.classificacao{
  width: 10%;
}

.parte{
  background: var(--cor-background-preto);
  border-radius: 20px;
  border-bottom: 0.5em solid var(--cor-background-cinza);
}

.parte{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.corpo-pagina{
  color: var(--cor-texto-branco);
}

.corpo-pagina__texto-titulo{
  display: flex;
  justify-content: center;
  text-align: center;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.corpo-pagina__texto-sinopse{
  padding: 0.5em ;
  display: flex;
  text-align: center;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.corpo-pagina__img{
  padding: 0.5em 0 0 0;
  max-width: 40%
}

.rodape{
  background: var(--cor-background-preto);
  color: var(--cor-texto-branco);
  padding: 1em;

  display: flex;
  align-items: center;
}

.rodape-texto{
  padding: 1em 2em;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.rodape-texto__link{
  text-decoration: none;
  color: var(--cor-texto-amarela);
  font-weight: 700;
}

.autor{
  color: var(--cor-texto-amarela);
  font-weight: 700;
}