@import url(./css/hamburguer.css);

:root{
  --cor-background-amarelo: #faf8c5;
  --cor-background-branco: #fff;
  --cor-background-preto: #000;
  --cor-texto-preto: #000;
  --cor-texto-branco: #fff;
  
}

*{
  margin: 0;
  padding: 0; 
  border: 0;
}

body{
  width: 100%;
  padding: 1em;
  background: var(--cor-background-amarelo); 
}

.parte{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: var(--cor-background-branco);
}

.corpo-pagina__texto-titulo{
  display: flex;
  justify-content: center;
}

.corpo-pagina__texto-sinopse{
  padding: 0.5em ;
}

.corpo-pagina__img{
  padding: 0.5em 0 0 0;
  max-width: 40%
}